<p>
	<strong>Name: </strong>
	<%= @restaurant.name %>
</p>

<p>
<strong>Cuisine: </strong>
<%= @restaurant.cuisine %>
</p>

<p>
<strong>Address: </strong>
<%= @restaurant.address %>
</p>


	<%= link_to "Edit", edit_restaurant_path(@restaurant) %></td>

	<%= link_to 'All Restaurants', restaurants_path %>